.site-header {
    border-top: none;
}

.site-header a {
    text-decoration: none;
    color: black;
}

.site-footer {
    padding: 5px 0;
}

.site-footer a {
    text-decoration: none;
    color: black;
}